.ev-pane-toolbar {
  background: #eee;
  border-bottom: 1px solid #ddd;
}

.ev-pane-main .ev-pane-editor .ev-layout-pane {
  overflow: hidden;
}

.ev-pane-preview {
  border-left: 1px solid #ddd;
}

.ev-pane-preview .ev-layout-pane {
  padding: 10px;
}

.ev-toolbar .ev-toolbar-item {
  background: #fff;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;

  .ev-icon svg {
    fill: var(--color-gray);
  }

  &:hover,
  &:active,
  &.ev-active {
    color: var(--color-tint);

    .ev-icon svg {
      fill: var(--color-tint);
    }
  }
}
